version: '3'
services:
    screeps:
        build: screeps
        volumes:
            - ./mods.json:/screeps/mods.json
        depends_on:
            - mongodb
            - redis
        ports:
            - "21025:21025"

    mongodb:
        image: mongo:3.6
        volumes:
            - ./mongo:/data/db

    redis:
        image: redis:4
